<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>fragment</title>
    <meta charset="UTF-8"/>
  </head>

  <body>
    <footer th:fragment="footer" class="fixed-bottom bg-black">
      <div class="container">
        <p class="small" align="center">©2017 Juho Juurinen&nbsp;|&nbsp;
          <a href="https://github.com/jrnn/vouchertracker" class="header">GitHub</a></p>
      </div>
    </footer>
  </body>

</html>
