<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>fragment</title>
    <meta charset="UTF-8"/>
  </head>

  <body>
    <header th:fragment="header" class="sticky-top bg-black">
      <div class="container" align="center">
        <table>
          <tr>
            <td sec:authorize="hasAuthority('USER')">
              <a th:href="@{/vouchers}" class="header">Vouchers</a>&nbsp;|&nbsp;
            </td>
            <td sec:authorize="hasAuthority('USER')">
              <a th:href="@{/customers}" class="header">Customers</a>&nbsp;|&nbsp;
            </td>
            <td sec:authorize="hasAuthority('USER')">
              <a th:href="@{/ups}" class="header">UPS</a>&nbsp;|&nbsp;
            </td>
            <td sec:authorize="hasAuthority('SUPERUSER')">
              <a th:href="@{/users}" class="header">Users</a>&nbsp;|&nbsp;
            </td>
            <td>
              <form th:action="@{/logout}" method="POST">
                <input type="submit" class="submit-link" value="Log out"/>
              </form>
            </td>
          </tr>
        </table>
      </div>
    </header>
  </body>

</html>
