<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>PvTracker | Customers</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta th:replace="fragments/common_styles :: common_styles"/>
  </head>

  <body>
    <header th:replace="fragments/header :: header">Header</header>

    <section class="bg-orange">
      <div class="container">
        <h1>Customers</h1>
      </div>
    </section>

    <!-- Customers table -->
    <section sec:authorize="hasAuthority('USER')" class="padded">
      <div class="container">

        <!-- Possible failure/success alerts -->
        <div class="row">
          <div class="col">
            <div th:if="${failure != null}" class="alert alert-danger alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <span th:text="${failure}">Failure message</span>
            </div>
            <div th:if="${success != null}" class="alert alert-success alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <span th:text="${success}">Success message</span>
            </div>
          </div>
        </div>

        <!-- Table contents -->
        <div class="row padded">
          <div class="col">
            <table id="table-customers" class="table hover" data-page-length='10'>
              <thead>
                <tr>
                  <th>Passport</th>
                  <th>Name</th>
                  <th>Vouchers</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="customer : ${customers}" th:data-href="${customer.id}">
                  <td th:text="${customer.passport}">Passport</td>
                  <td th:text="${customer.lastName + ', ' + customer.firstName}">Name</td>
                  <td th:text="${customer.vouchersCount}">No. of vouchers</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </section>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    <script th:replace="fragments/common_scripts :: common_scripts"></script>
    <script>
    $(document).ready(function() {
        $("#table-customers").DataTable( {
            "lengthChange" : false,
            "language" : {
                "search" : "Search"
            }
        });
    });
    $("#table-customers").on("click", "tbody tr", function() {
        if ($(this).data("href") != null) {
            window.location.href="/customers/" + $(this).data("href");
        }
    });
    </script>
  </body>

</html>
