<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>PvTracker | Customers</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
  </head>

  <body>
    <header th:replace="fragments/header :: header">Header</header>

    <section class="bg-orange">
      <div class="container">
        <h1>Customers</h1>
      </div>
    </section>

    <!-- Customer form -->
    <section sec:authorize="hasAuthority('USER')" class="padded">
      <div class="container">
        <form th:object="${dto}">

          <!-- Possible failure/success alerts -->
          <div class="row">
            <div class="col">
              <div th:if="${failure != null}" class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span th:text="${failure}">Failure message</span>
              </div>
              <div th:if="${success != null}" class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span th:text="${success}">Success message</span>
              </div>
            </div>
          </div>

          <!-- Customer details -->
          <section>
            <div class="row">
              <div class="col form-group">
                <h3>Customer details</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-8 form-group">
                <label for="lastEditedBy">Last edited by</label>
                <input th:field="*{lastEditedBy}" type="text" class="form-control" readonly/>
              </div>
              <div class="col-12 col-sm-4 form-group">
                <label for="lastEditedOn">Last edited on</label>
                <input th:value="${#temporals.format(dto.lastEditedOn, 'yyyy-MM-dd HH:mm')}"
                       id="lastEditedOn" type="text" class="form-control" readonly/>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4 form-group">
                <label for="passport">Passport number</label>
                <input th:field="*{passport}" type="text" class="form-control" readonly/>
              </div>
              <div class="col-12 col-sm-6 col-md-4 form-group">
                <label for="firstName">First name</label>
                <input th:field="*{firstName}" type="text" class="form-control" readonly/>
              </div>
              <div class="col-12 col-sm-6 col-md-4 form-group">
                <label for="lastName">Last name</label>
                <input th:field="*{lastName}" type="text" class="form-control" readonly/>
              </div>
            </div>
          </section>
        </form>

        <!-- Form buttons, links -->
        <section>
          <div class="row padded">
            <div class="col">
              <form sec:authorize="hasAuthority('ADMIN')" style="display : inline;"
                    method="GET" th:action="@{/customers/{id}/edit(id=${dto.id})}">
                <input type="submit" class="button" value="Edit customer"/>
              </form>
              <input type="button" class="button" id="cancel" value="Cancel"
                     onClick="window.location.href='/customers'"/>
            </div>
          </div>
        </section>

        <!-- Vouchers table -->
        <section>
          <div class="divider"></div>

          <div class="row padded">
            <div class="col">
              <table id="table-vouchers" class="table hover" data-page-length='10'>
                <thead>
                  <tr>
                    <th>Voucher Id</th>
                    <th>Customs stamp</th>
                    <th>Shipped</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="v : ${vouchers}" th:data-href="${v.id}">
                    <td th:text="${v.voucherId}">Voucher Id</td>
                    <td th:text="${v.stamped} ? 'Yes' : 'No'"></td>
                    <td th:text="${v.shipment == null} ? 'No' : 'Yes'">Shipped</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

      </div>
    </section>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" th:src="@{/js/datatable-common.js}"
            data-tableId="table-vouchers" data-hrefRoot="/vouchers/"></script>
  </body>

</html>
