<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>PvTracker | Login</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta th:replace="fragments/common_styles :: common_styles"/>
  </head>

  <body>
    <header class="sticky-top bg-black">
      <div class="container" align="center">&nbsp;</div>
    </header>

    <section class="bg-orange">
      <div class="container">
        <h1>Prepaid Voucher Tracker</h1>
      </div>
    </section>

    <!-- Login form -->
    <section class="padded">
      <div class="container">
        <form name="f" th:action="@{/login}" method="POST">

          <!-- Possible failure/success alerts -->
          <div class="row">
            <div class="col form-group">
              <div th:if="${param.error}" class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                   Invalid email or password!
              </div>
              <div th:if="${param.logout}" class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                   You are now logged out
              </div>
              <div th:if="${failure != null}" class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span th:text="${failure}">Failure message</span>
              </div>
              <div th:if="${success != null}" class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span th:text="${success}">Success message</span>
              </div>
            </div>
          </div>

          <!-- Form title -->
          <section>
            <div class="row">
              <div class="col form-group">
                <h3>Please provide credentials</h3>
              </div>
            </div>

            <!-- Form fields -->
            <div class="row">
              <div class="col form-group">
                <label for="username">Email</label>
                <input type="text" class="form-control" id="username" name="username"
                       placeholder="firstname.lastname@domain.com"/>
              </div>
            </div>
            <div class="row">
              <div class="col form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="qwerty"/>
              </div>
            </div>
          </section>

          <!-- Form buttons, links -->
          <section>
            <div class="row padded">
              <div class="col form-group">
                <input type="submit" class="button" id="submit" value="Log in"/>
              </div>
            </div>
            <div class="row">
              <div class="col form-group" align="center">
                <a th:href="@{/login/forgot}">Forgot password?</a>
              </div>
            </div>
          </section>

        </form>
      </div>
    </section>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    <script th:replace="fragments/common_scripts :: common_scripts"></script>
  </body>

</html>
