<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

    <head>
        <title>PvTracker | Login</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <meta th:replace="fragments/common_styles :: common_styles"/>
    </head>

    <body>
        <section class="container">
            <h1>Prepaid Voucher Tracker</h1>
        </section>

        <section class="container">
            <form action="#" th:method="POST" th:action="@{/login/forgot}" th:object="${dto}">
                <div class="row">
                    <div class="col">
                        <h3>Password reset request</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label for="email">Email</label>
                        <input th:field="*{email}" type="text" class="form-control" th:errorclass="is-invalid" placeholder="sponge.bob@square.pants"/>
                        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback">error msg</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="submit" value="Submit"/>
                    </div>
                </div>
            </form>

            <div align="middle">
                <a th:href="@{/login}">Back to login page</a>
            </div>
        </section>

        <script th:replace="fragments/common_scripts :: common_scripts"></script>
    </body>

</html>