<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>PvTracker | Login</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
  </head>

  <body>
    <header class="sticky-top bg-black">
      <div class="container" align="center">&nbsp;</div>
    </header>

    <section class="bg-orange">
      <div class="container">
        <h1>Prepaid Voucher Tracker</h1>
      </div>
    </section>

    <!-- Token request form -->
    <section class="padded">
      <div class="container">
        <form action="#" th:method="POST" th:action="@{/login/forgot}" th:object="${dto}">

          <!-- Possible failure/success alerts -->
          <div class="row">
            <div class="col form-group">
              <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                   Oh snap! There's something wrong with that email address
              </div>
            </div>
          </div>

          <!-- Form title -->
          <section>
            <div class="row">
              <div class="col form-group">
                <h3>Password reset request</h3>
              </div>
            </div>

            <!-- Form fields -->
            <div class="row">
              <div class="col form-group">
                <label for="email">Email</label>
                <input th:field="*{email}" type="text" class="form-control"
                       th:errorclass="is-invalid" placeholder="firstname.lastname@domain.com"/>
                <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                       class="invalid-feedback">Validation error message</small>
              </div>
            </div>
          </section>

          <!-- Form buttons, links -->
          <section>
            <div class="row padded">
               <div class="col form-group">
                <input type="submit" class="button" id="submit" value="Submit"/>
                <input type="button" class="button" id="cancel" value="Cancel"
                       onClick="window.location.href='/login'"/>
              </div>
            </div>
          </section>

        </form>
      </div>
    </section>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
  </body>

</html>
