<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>PvTracker | Login</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta th:replace="fragments/common_styles :: common_styles"/>
  </head>

  <body>
    <header class="sticky-top bg-black">
      <div class="container" align="center">&nbsp;</div>
    </header>

    <section class="bg-orange">
      <div class="container">
        <h1>Prepaid Voucher Tracker</h1>
      </div>
    </section>

    <section class="padded">
      <div class="container">
        <form action="#" th:method="POST" th:action="@{/login/forgot}" th:object="${dto}">
          <div class="row padded">
            <div class="col">
              <h3>Password reset request</h3>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label for="email">Email</label>
              <input th:field="*{email}" type="text" class="form-control"
                     th:errorclass="is-invalid" placeholder="firstname.lastname@domain.com"/>
              <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                     class="invalid-feedback">Validation error message</small>
            </div>
          </div>
          <div class="row padded">
            <div class="col">
              <input type="submit" class="button" id="submit" value="Submit"/>
            </div>
          </div>
          <div class="row">
            <div class="col" align="center">
              <a th:href="@{/login}">Back to login page</a>
            </div>
          </div>
        </form>
      </div>
    </section>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    <script th:replace="fragments/common_scripts :: common_scripts"></script>
  </body>

</html>
