<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>PvTracker | Password change</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta th:replace="fragments/common_styles :: common_styles"/>
  </head>

  <body>
    <header class="sticky-top bg-black">
      <div class="container" align="center">&nbsp;</div>
    </header>

    <section class="bg-orange">
      <div class="container">
        <h1>Prepaid Voucher Tracker</h1>
      </div>
    </section>

    <!-- Password reset form -->
    <section sec:authorize="hasAuthority('RESET_PASSWORD')" class="padded">
      <div class="container">
        <form action="#" th:method="POST" th:action="@{/password/reset}" th:object="${dto}">

          <!-- Possible failure/success alerts -->
          <div class="row">
            <div class="col form-group">
              <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger"
                   th:errors="*{all}">Validation error message(s)</div>
            </div>
          </div>

          <!-- Form title -->
          <section>
            <div class="row">
              <div class="col form-group">
                <h3>Provide new password</h3>
              </div>
            </div>
            <div class="row">
              <div class="col form-group">
                <ul>
                  <li>Must be at least 8 characters long</li>
                  <li>Must contain at least one of each: a lower case letter, an upper case letter, and a digit</li>
                  <li>May optionally contain one or more of the following special characters: ! @ # $ % &amp; / = + ? ^ ~ * ' , ; . : _ -</li>
                </ul>
              </div>
            </div>

            <!-- Form fields -->
            <div class="row">
              <div class="col form-group">
                <label for="newPassword">New password</label>
                <input th:field="*{newPassword}" type="password" class="form-control"
                       th:errorclass="is-invalid" placeholder="Type a password"/>
                <small th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                       class="invalid-feedback">Validation error message</small>
              </div>
            </div>
            <div class="row">
              <div class="col form-group">
                <label for="confirmPassword">Confirm new password</label>
                <input th:field="*{confirmPassword}" type="password" class="form-control"
                       th:errorclass="is-invalid" placeholder="Type the same thing again"/>
                <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                       class="invalid-feedback">Validation error message</small>
              </div>
            </div>
          </section>

          <!-- Form buttons, links -->
          <section>
            <div class="row padded">
              <div class="col">
                <input type="submit" class="button" id="submit" value="Change password"/>
              </div>
            </div>
          </section>

        </form>
      </div>
    </section>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    <script th:replace="fragments/common_scripts :: common_scripts"></script>
  </body>

</html>
