<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>PvTracker | UPS shipments</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
  </head>

  <body>
    <header th:replace="fragments/header :: header">Header</header>

    <section class="bg-orange">
      <div class="container">
        <h1>Add UPS shipment</h1>
      </div>
    </section>

    <!-- Shipment form -->
    <section sec:authorize="hasAuthority('USER')" class="padded">
      <div class="container">
        <form action="#" th:method="POST" th:action="@{/ups}" th:object="${dto}">

          <!-- Possible failure/success alerts -->
          <div class="row">
            <div class="col form-group">
              <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span th:errors="*{*}">Validation error message(s)</span>
              </div>
            </div>
          </div>

          <!-- Shipment details section -->
          <section id="shipment-details">
            <div class="row">
              <div class="col form-group">
                <h3>Shipment details</h3>
              </div>
            </div>

            <!-- Form fields -->
            <div class="row">
              <div class="col-12 col-sm-8 form-group">
                <label for="trackingNo">UPS tracking number</label>
                <input th:field="*{trackingNo}" type="text" class="form-control"
                       th:errorclass="is-invalid"/>
                <small th:if="${#fields.hasErrors('trackingNo')}" th:errors="*{trackingNo}"
                       class="invalid-feedback">Validation error message</small>
              </div>
              <div class="col-12 col-sm-4 form-group">
                <label for="shippedOn">Sending date</label>
                <input th:field="*{shippedOn}" type="date" class="form-control"
                       th:errorclass="is-invalid"/>
                <small th:if="${#fields.hasErrors('shippedOn')}" th:errors="*{shippedOn}"
                       class="invalid-feedback">Validation error message</small>
              </div>
            </div>
          </section>

          <!-- Vouchers section -->
          <section>
            <div class="divider"></div>

            <div class="row">
              <div class="col form-group">
                <h3 th:unless="${#lists.isEmpty(vouchers)}">Select vouchers</h3>
                <h3 th:if="${#lists.isEmpty(vouchers)}">(Oh snap! No shippable vouchers!)</h3>
              </div>
            </div>
          </section>

          <!-- Vouchers list -->
          <section id="vouchers-list" th:unless="${#lists.isEmpty(vouchers)}">
            <div class="row">
              <div class="col form-group">
                <table id="table-vouchers" class="table hover">
                  <thead>
                    <tr>
                      <th>Voucher Id</th>
                      <th>Passport</th>
                      <th>Received on</th>
                      <th class="no-sort"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="v : ${vouchers}" th:id="${'tr-' + v.id}" th:data-href="${v.id}">
                      <td th:text="${v.voucherId}"></td>
                      <td th:text="${v.customer.passport}"></td>
                      <td th:text="${v.receivedOn}"></td>
                      <td>
                        <input type="checkbox" name="voucherIds" th:value="${v.id}"
                               th:id="${v.id}" style="visibility : hidden;"/>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>

          <!-- Form buttons, links -->
          <section>
            <div class="row padded">
              <div class="col form-group">
                <input type="submit" class="button" id="submit" value="Submit"
                       th:unless="${#lists.isEmpty(vouchers)}"/>
                <input type="button" class="button" id="selectAll" value="Select all"
                       th:unless="${#lists.isEmpty(vouchers)}"/ onClick="">
                <input type="button" class="button" id="cancel" value="Cancel"
                       onClick="window.location.href='/ups'"/>
              </div>
            </div>
          </section>

        </form>
      </div>
    </section>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
        var voucherIds = /*[[${dto.voucherIds}]]*/ null;
    /*]]>*/
    </script>
    <script type="text/javascript" th:src="@{/js/shipment.js}"></script>
  </body>

</html>
