<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>PvTracker | UPS shipments</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
  </head>

  <body>
    <header th:replace="fragments/header :: header">Header</header>

    <section class="bg-orange">
      <div class="container">
        <h1>UPS shipments</h1>
      </div>
    </section>

    <!-- Shipment form -->
    <section sec:authorize="hasAuthority('USER')" class="padded">
      <div class="container">
        <form th:object="${shipment}">

          <!-- Possible failure/success alerts -->
          <div class="row">
            <div class="col">
              <div th:if="${failure != null}" class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span th:text="${failure}">Failure message</span>
              </div>
              <div th:if="${success != null}" class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span th:text="${success}">Success message</span>
              </div>
            </div>
          </div>

          <!-- Shipment details -->
          <section>
            <div class="row">
              <div class="col form-group">
                <h3>Shipment details</h3>
              </div>
            </div>
            <div class="row">
              <div class="col form-group">
                <label for="trackingNo">Tracking number</label>
                <input th:field="*{trackingNo}" type="text" class="form-control" readonly/>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 form-group">
                <label for="shippedOn">Sent on</label>
                <input th:value="${#temporals.format(shipment.shippedOn, 'yyyy-MM-dd')}"
                       id="shippedOn" type="text" class="form-control" readonly/>
              </div>
              <div class="col-12 col-sm-6 form-group">
                <label for="addedBy">Added by</label>
                <input th:field="*{addedBy}" type="text" class="form-control" readonly/>
              </div>
            </div>
          </section>
        </form>

        <!-- Vouchers table -->
        <section>
          <div class="row padded">
            <div class="col">
              <table id="table-vouchers" class="table hover" data-page-length='10'>
                <thead>
                  <tr>
                    <th>Voucher Id</th>
                    <th>Passport</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="v : ${shipment.vouchers}" th:data-href="${v.id}">
                    <td th:text="${v.voucherId}">Voucher Id</td>
                    <td th:text="${v.customer.passport}">Passport</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <!-- Form buttons, links -->
        <section>
          <div class="row padded">
            <div class="col form-group">
              <input type="button" class="button" id="track" value="Track"
                     onClick="track();"/>
              <input type="button" class="button" id="cancel" value="Cancel"
                     onClick="window.location.href='/ups'"/>
            </div>
          </div>
        </section>

      </div>
    </section>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
        var trackingNo = /*[[${shipment.trackingNo}]]*/ "n/a";
    /*]]>*/
    </script>
    <script type="text/javascript" th:src="@{/js/datatable-common.js}"
            data-tableId="table-vouchers" data-hrefRoot="/vouchers/"></script>
    <script type="text/javascript" th:src="@{/js/ups-track.js}"></script>
  </body>

</html>
