<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>PvTracker | User management</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta th:replace="fragments/common_styles :: common_styles"/>
  </head>

  <body>
    <header th:replace="fragments/header :: header">Header</header>

    <section class="bg-orange">
      <div class="container">
        <h1>Add/edit user</h1>
      </div>
    </section>

    <!-- User form -->
    <section sec:authorize="hasAuthority('SUPERUSER')" class="padded">
      <div class="container">
        <form action="#" th:method="POST" th:action="@{/users}" th:object="${dto}">

          <!-- Possible failure/success alerts -->
          <div class="row">
            <div class="col form-group">
              <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                   Oops! There's something fishy with the data you provided
              </div>
            </div>
          </div>

          <!-- Form fields -->
          <div th:if="*{createdOn != null}" class="row">
            <div th:text="${'User created on: ' + #temporals.format(dto.createdOn, 'yyyy-MM-dd')}"
                 class="col form-group" align="right">Created on</div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 form-group">
              <label for="firstName">First name</label>
              <input th:field="*{firstName}" type="text" class="form-control"
                     th:errorclass="is-invalid" placeholder="Spongebob"/>
              <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                     class="invalid-feedback">Validation error message</small>
            </div>
            <div class="col-12 col-md-6 form-group">
              <label for="lastName">Last name</label>
              <input th:field="*{lastName}" type="text" class="form-control"
                     th:errorclass="is-invalid" placeholder="Squarepants"/>
              <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                     class="invalid-feedback">Validation error message</small>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label for="email">Email (for login)</label>
              <input th:field="*{email}" type="text" class="form-control"
                     th:errorclass="is-invalid" placeholder="sponge.bob@square.pants"/>
              <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                     class="invalid-feedback">Validation error message</small>
            </div>
          </div>
          <div class="row padded">
            <div class="col-12 col-md-6 form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input th:field="*{enabled}" type="checkbox" class="form-check-input"/>
                         Has access rights (can log in only when this is checked)
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input th:field="*{administrator}" type="checkbox" class="form-check-input"/>
                         Has admin rights (can edit all vouchers and customers)
                </label>
              </div>
            </div>
          </div>

          <!-- Form buttons, links -->
          <div class="row">
            <div class="col form-group">
              <input type="submit" class="button" id="submit" value="Submit"/>
              <input type="button" class="button" id="cancel" value="Cancel"
                     onClick="window.location='/users'"/>
            </div>
          </div>

          <!-- Hidden uneditable attributes -->
          <input th:field="*{id}" type="hidden"/>
          <input th:field="*{createdOn}" type="hidden"/>

        </form>
      </div>
    </section>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    <script th:replace="fragments/common_scripts :: common_scripts"></script>
  </body>

</html>
