<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>PvTracker | User management</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
  </head>

  <body>
    <header th:replace="fragments/header :: header">Header</header>

    <section class="bg-orange">
      <div class="container">
        <h1>User management</h1>
      </div>
    </section>

    <!-- Users table -->
    <section sec:authorize="hasAuthority('SUPERUSER')" class="padded">
      <div class="container">

        <!-- Possible failure/success alerts -->
        <div class="row">
          <div class="col">
            <div th:if="${success != null}" class="alert alert-success alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <span th:text="${success}">Success message</span>
            </div>
          </div>
        </div>

        <!-- Table contents -->
        <div class="row padded">
          <div class="col">
            <table id="table-users" class="table hover" data-page-length='10'>
              <thead>
                <tr>
                  <th>User name</th>
                  <th>Access</th>
                  <th>Admin</th>
                  <th>Created on</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="u : ${users}" th:data-href="${u.id}">
                  <td th:text="${u.lastName + ', ' + u.firstName}">User name</td>
                  <td th:text="${u.enabled} ? 'Yes' : 'No'">Enabled</td>
                  <td th:text="${u.administrator} ? 'Yes' : 'No'">Administrator</td>
                  <td th:text="${#temporals.format(u.createdOn, 'yyyy-MM-dd')}">Created on</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Buttons, links -->
        <div class="row">
          <div class="col">
            <form th:action="@{/users/new}" method="GET">
              <input type="submit" class="button" id="addNew" value="Add new user"/>
            </form>
          </div>
        </div>

      </div>
    </section>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" th:src="@{/js/datatable-common.js}"
            data-tableId="table-users" data-hrefRoot="/users/"></script>
  </body>

</html>
