<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>PvTracker | Vouchers</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
  </head>

  <body>
    <header th:replace="fragments/header :: header">Header</header>

    <section class="bg-orange">
      <div class="container">
        <h1>Vouchers</h1>
      </div>
    </section>

    <!-- Voucher form -->
    <section sec:authorize="hasAuthority('USER')" class="padded">
      <div class="container">
        <form th:object="${dto}">

          <!-- Possible failure/success alerts -->
          <div class="row">
            <div class="col">
              <div th:if="${failure != null}" class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span th:text="${failure}">Failure message</span>
              </div>
              <div th:if="${success != null}" class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span th:text="${success}">Success message</span>
              </div>
            </div>
          </div>

          <!-- Meta -->
          <section>
            <div class="row">
              <div class="col form-group">
                <h3>General information</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-8 col-lg-4 form-group">
                <label for="accountName">Voucher owner</label>
                <input th:field="*{accountName}" type="text" class="form-control" readonly/>
              </div>
              <div class="col-12 col-sm-4 col-lg-2 form-group">
                <label for="createdOn">Created on</label>
                <input th:value="${#temporals.format(dto.createdOn, 'yyyy-MM-dd')}"
                       id="createdOn" type="text" class="form-control" readonly/>
              </div>
              <div class="col-12 col-sm-8 col-lg-4 form-group">
                <label for="lastEditedBy">Last edited by</label>
                <input th:field="*{lastEditedBy}" type="text" class="form-control" readonly/>
              </div>
              <div class="col-12 col-sm-4 col-lg-2 form-group">
                <label for="lastEditedOn">Last edited on</label>
                <input th:value="${#temporals.format(dto.lastEditedOn, 'yyyy-MM-dd HH:mm')}"
                       id="lastEditedOn" type="text" class="form-control" readonly/>
              </div>
            </div>
          </section>

          <div class="divider"></div>

          <!-- Customer details -->
          <section>
            <div class="row">
              <div class="col form-group">
                <h3>Customer details</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4 form-group">
                <label for="passport">Passport number</label>
                <input th:field="*{passport}" type="text" class="form-control" readonly/>
              </div>
              <div class="col-12 col-sm-6 col-md-4 form-group">
                <label for="firstName">First name</label>
                <input th:field="*{firstName}" type="text" class="form-control" readonly/>
              </div>
              <div class="col-12 col-sm-6 col-md-4 form-group">
                <label for="lastName">Last name</label>
                <input th:field="*{lastName}" type="text" class="form-control" readonly/>
              </div>
            </div>
          </section>

          <div class="divider"></div>

          <!-- Voucher details -->
          <section>
            <div class="row">
              <div class="col form-group">
                <h3>Voucher details</h3>
              </div>
            </div>
            <div class="row">
              <div class="col form-group">
                <label for="voucherId">Voucher Id</label>
                <input th:field="*{voucherId}" type="text" class="form-control" readonly/>
              </div>
            </div>
            <div class="row">
              <div class="col form-group">
                <input th:field="*{voucherIdExt}" type="text" class="form-control" readonly/>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-lg-4 form-group">
                <label for="issuedOn">Date of issue</label>
                <input th:value="${#temporals.format(dto.issuedOn, 'yyyy-MM-dd')}"
                       id="issuedOn" type="text" class="form-control" readonly/>
              </div>
              <div class="col-12 col-sm-6 col-lg-8 form-group">
                <label for="issuedAt">Country of issue</label>
                <input th:field="*{issuedAt}" type="text" class="form-control" readonly/>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-lg-4 form-group">
                <label for="receivedOn">Received on</label>
                <input th:value="${#temporals.format(dto.receivedOn, 'yyyy-MM-dd')}"
                       id="receivedOn" type="text" class="form-control" readonly/>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 form-group">
                <label for="purchaseAmount">Purchase amount</label>
                <input th:field="*{purchaseAmount}" type="text" class="form-control" readonly/>
              </div>
              <div class="col-12 col-lg-4 form-group">
                <label for="refundAmount">Refund amount</label>
                <input th:field="*{refundAmount}" type="text" class="form-control" readonly/>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-lg-2 form-group">
                <label for="stamped">Customs stamp</label>
                <input th:value="${dto.stamped} ? 'Yes' : 'No'"
                       id="stamped" type="text" class="form-control" readonly/>
              </div>
              <div class="col-12 col-sm-6 col-lg-2 form-group">
                <label for="prepaid">Prepaid</label>
                <input th:value="${dto.prepaid} ? 'Yes' : 'No'"
                        id="prepaid" type="text" class="form-control" readonly/>
              </div>
              <div class="col-12 col-lg-8 form-group">
                <label for="trackingNo">Shipment tracking number</label>
                <input th:value="*{trackingNo}" type="text" class="form-control" readonly/>
              </div>
            </div>
          </section>
        </form>

        <div class="divider"></div>

        <!-- Attachments -->
        <section th:unless="${#lists.isEmpty(attachments)}">
          <div class="row">
            <div class="col form-group">
              <h3>Attachments</h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <table>
                <tr th:each="a : ${attachments}">
                  <td style="padding-right : 48px;">
                    <a th:href="@{/vouchers/files/{id}(id=${a.id})}"
                       th:text="${a.fileName}" target="_blank">File name</a>
                  </td>
                  <td sec:authorize="hasAuthority(#vars.dto.accountId) OR hasAuthority('ADMIN')">
                    <form th:method="DELETE" th:action="@{/vouchers/files/{id}(id=${a.id})}">
                      <input type="submit" class="submit-link submit-x" value="&times;"/>
                      <input type="hidden" name="ownerId" th:value="${dto.accountId}"/>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="divider"></div>
        </section>

        <!-- Form buttons, links -->
        <section>
          <div class="row">
            <div class="col">
              <span sec:authorize="hasAuthority(#vars.dto.accountId) OR hasAuthority('ADMIN')">
                <form method="GET" th:action="@{/vouchers/{id}/edit(id=${dto.id})}"
                      th:if="${dto.trackingNo == null}" style="display : inline;">
                  <input type="submit" class="button" value="Edit voucher"/>
                  <input type="hidden" name="ownerId" th:value="${dto.accountId}"/>
                </form>
                <form method="POST" th:action="@{/vouchers/{id}/files(id=${dto.id})}"
                      enctype="multipart/form-data" style="display : inline;">
                  <label class="file-input-hack">
                    <input type="file" name="file" class="button" onChange="this.form.submit();"/>
                    <input type="hidden" name="ownerId" th:value="${dto.accountId}"/>
                    <span class="button" style="padding : 11px 40px;">Add attachment</span>
                  </label>
                </form>
              </span>
              <input type="button" class="button" id="cancel" value="Cancel"
                     onClick="window.location.href='/vouchers'"/>
            </div>
          </div>
          <div class="divider"></div>
        </section>

        <!-- Comments -->
        <section>
          <div class="row">
            <div class="col form-group">
              <h3>Comments</h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <form method="POST" th:action="@{/comments}">
                <div class="form-group">
                  <textarea id="comment" name="comment" class="form-control" rows="2"
                            placeholder="Write new comment here (max 1000 characters)"></textarea>
                  <small id="commentHelp">0 out of 1000 characters used</small>
                </div>
                <div class="form-group">
                  <input type="submit" class="button" id="addComment" value="Add comment"/>
                </div>
                <input type="hidden" name="id" th:value="${dto.id}"/>
                <input type="hidden" name="src" value="vouchers"/>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div th:each="c : ${comments}" class="media">
                <div class="media-body">
                  <small th:text="${c.meta}">meta</small>
                  <p th:text="${c.content}">content</p>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </section>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/comment.js}"></script>
  </body>

</html>
