<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>PvTracker | Vouchers</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
  </head>

  <body>
    <header th:replace="fragments/header :: header">Header</header>

    <section class="bg-orange">
      <div class="container">
        <h1>Vouchers</h1>
      </div>
    </section>

    <!-- Vouchers tables -->
    <section sec:authorize="hasAuthority('USER')" class="padded">
      <div class="container">

        <!-- Possible failure/success alerts -->
        <div class="row">
          <div class="col">
            <div th:if="${failure != null}" class="alert alert-danger alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <span th:text="${failure}">Failure message</span>
            </div>
            <div th:if="${success != null}" class="alert alert-success alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <span th:text="${success}">Success message</span>
            </div>
          </div>
        </div>

        <!-- Table contents : open vouchers -->
        <section>
          <div class="row">
            <div class="col">
              <h3>Open vouchers</h3>
            </div>
          </div>
          <div class="row padded">
            <div class="col">
              <table id="table-open" class="table hover" data-page-length='10'>
                <thead>
                  <tr>
                    <th>Voucher Id</th>
                    <th>Passport</th>
                    <th>Customs stamp</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="v : ${open}" th:data-href="${v.id}">
                    <td th:text="${v.voucherId}">Voucher Id</td>
                    <td th:text="${v.customer.passport}">Passport</td>
                    <td th:text="${v.stamped} ? 'Yes' : 'No'">Customs stamp</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Buttons, links -->
          <div sec:authorize="hasAuthority('VOUCHER_OWNER')" class="row">
            <div class="col">
              <form th:action="@{/vouchers/new}" method="GET">
                <input type="submit" class="button" id="addNew" value="Add new voucher"/>
              </form>
            </div>
          </div>
        </section>

        <!-- Table contents : closed vouchers -->
        <section th:unless="${#lists.isEmpty(closed)}">
          <div class="divider"></div>

          <div class="row">
            <div class="col">
              <h3>Closed vouchers</h3>
            </div>
          </div>
          <div class="row padded">
            <div class="col">
              <table id="table-closed" class="table hover" data-page-length='10'>
                <thead>
                  <tr>
                    <th>Voucher Id</th>
                    <th>Passport</th>
                    <th>UPS tracking number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="v : ${closed}" th:data-href="${v.id}">
                    <td th:text="${v.voucherId}">Voucher Id</td>
                    <td th:text="${v.customer.passport}">Passport</td>
                    <td th:text="${v.shipment.trackingNo}">Tracking number</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

      </div>
    </section>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function() {
        $("#table-open").DataTable( {
            "lengthChange" : false,
            "language" : {
                "search" : "Search"
            }
        });
        $("#table-closed").DataTable( {
            "lengthChange" : false,
            "language" : {
                "search" : "Search"
            }
        });
    });
    $("#table-open").on("click", "tbody tr", function() {
        if($(this).data("href") != null) {
            window.location.href="/vouchers/" + $(this).data("href");
        }
    });
    $("#table-closed").on("click", "tbody tr", function() {
        if($(this).data("href") != null) {
            window.location.href="/vouchers/" + $(this).data("href");
        }
    });
    </script>
  </body>

</html>
