<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>PvTracker | Vouchers</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta th:replace="fragments/common_styles :: common_styles"/>
  </head>

  <body>
    <header th:replace="fragments/header :: header">Header</header>

    <section class="bg-orange">
      <div class="container">
        <h1>Vouchers</h1>
      </div>
    </section>

    <!-- Users table -->
    <section sec:authorize="isAuthenticated()" class="padded">
      <div class="container">

        <!-- Possible failure/success alerts -->
        <div class="row">
          <div class="col">
            <div th:if="${failure != null}" class="alert alert-danger alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <span th:text="${failure}">Failure message</span>
            </div>
            <div th:if="${success != null}" class="alert alert-success alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <span th:text="${success}">Success message</span>
            </div>
          </div>
        </div>

        <!-- Table contents -->
        <div class="row padded">
          <div class="col">
            <table id="table-vouchers" class="table hover" data-page-length='10'>
              <thead>
                <tr>
                  <th>Voucher Id</th>
                  <th>Passport</th>
                  <th>Customs stamp</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="voucher : ${vouchers}" th:data-href="${voucher.id}">
                  <td th:text=${voucher.voucherId}>Voucher Id</td>
                  <td th:text=${voucher.customer.passport}>Passport</td>
                  <td th:text=${voucher.stamped}>Customs stamp</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Buttons, links -->
        <div sec:authorize="hasAuthority('USER')" class="row">
          <div class="col">
            <form th:action="@{/vouchers/new}" method="GET">
              <input type="submit" class="button" id="addNew" value="Add new voucher"/>
            </form>
          </div>
        </div>

      </div>
    </section>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    <script th:replace="fragments/common_scripts :: common_scripts"></script>
    <script>
    $(document).ready(function() {
        $("#table-vouchers").DataTable( {
            "lengthChange" : false,
            "language" : {
                "search" : "Search"
            }
        });
    });
    $("#table-vouchers").on("click", "tbody tr", function() {
        window.location="/vouchers/" + $(this).data("href");
    });
    </script>
  </body>

</html>
