<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>PvTracker | Vouchers</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta th:replace="fragments/common_styles :: common_styles"/>
  </head>

  <body>
    <header th:replace="fragments/header :: header">Header</header>

    <section class="bg-orange">
      <div class="container">
        <h1>Vouchers</h1>
      </div>
    </section>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    <script th:replace="fragments/common_scripts :: common_scripts"></script>
  </body>

</html>
