<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

  <head>
    <title>PvTracker | Vouchers</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"
          integrity="sha256-I4gvabvvRivuPAYFqevVhZl88+vNf2NksupoBxMQi04="
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0-beta/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
  </head>

  <body>
    <header th:replace="fragments/header :: header">Header</header>

    <section class="bg-orange">
      <div class="container">
        <h1>Add/edit voucher</h1>
      </div>
    </section>

    <!-- Voucher form -->
    <section sec:authorize="hasAuthority('USER')" class="padded">
      <div class="container">
        <form action="#" th:method="POST" th:action="@{/vouchers}" th:object="${dto}">

          <!-- Possible failure/success alerts -->
          <div class="row">
            <div class="col form-group">
              <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                   Oops! There's something fishy with the data you provided
              </div>
              <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span th:errors="*{global}">Global validation error message(s)</span>
              </div>
            </div>
          </div>

          <!-- Customer details section -->
          <section id="customer-form">
            <div class="row">
              <div class="col form-group">
                <h3>Customer details</h3>
              </div>
            </div>

            <!-- Form fields -->
            <div class="row">
              <div class="col-12 col-md-6 form-group">
                <label for="customerId">Pick customer</label>
                <select th:field="*{customerId}" data-live-search="true"
                        class="selectpicker form-control">
                  <option value="new">(New customer)</option>
                  <option th:each="customer : ${customers}" th:value="${customer.id}"
                          th:text="${customer.lastName + ', ' + customer.firstName}"
                          th:selected="${customer.id == dto.customerId}">
                          Customer name</option>
                </select>
              </div>
              <div class="col-12 col-md-6 form-group">
                <label for="passport">Passport number</label>
                <input th:field="*{passport}" type="text" class="form-control"
                       th:errorclass="is-invalid" placeholder="PP1234567" readonly/>
                <small th:if="${#fields.hasErrors('passport')}" th:errors="*{passport}"
                       class="invalid-feedback">Validation error message</small>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 form-group">
                <label for="firstName">First name</label>
                <input th:field="*{firstName}" type="text" class="form-control"
                       th:errorclass="is-invalid" placeholder="Spongebob" readonly/>
                <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                       class="invalid-feedback">Validation error message</small>
              </div>
              <div class="col-12 col-md-6 form-group">
                <label for="lastName">Last name</label>
                <input th:field="*{lastName}" type="text" class="form-control"
                       th:errorclass="is-invalid" placeholder="Squarepants" readonly/>
                <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                       class="invalid-feedback">Validation error message</small>
              </div>
            </div>
          </section>

          <div class="divider"></div>

          <!-- Voucher details section -->
          <section id="voucher-form">
            <div class="row">
              <div class="col form-group">
                <h3>Voucher details</h3>
              </div>
            </div>

            <!-- Form fields -->
            <div class="row">
              <div class="col form-group">
                <label for="voucherId">Voucher ID</label>
                <input th:field="*{voucherId}" type="text" class="form-control"
                       th:errorclass="is-invalid" placeholder="First line"/>
                <small th:if="${#fields.hasErrors('voucherId')}" th:errors="*{voucherId}"
                       class="invalid-feedback">Validation error message</small>
              </div>
            </div>
            <div class="row">
              <div class="col form-group">
                <input th:field="*{voucherIdExt}" type="text" class="form-control"
                       th:errorclass="is-invalid" placeholder="Second line (optional)"/>
                <small th:if="${#fields.hasErrors('voucherIdExt')}" th:errors="*{voucherIdExt}"
                       class="invalid-feedback">Validation error message</small>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-4 form-group">
                <label for="issuedOn">Date of issue</label>
                <input th:field="*{issuedOn}" type="text" class="form-control datepicker"
                       th:errorclass="is-invalid" placeholder="yyyy-mm-dd"/>
                <small th:if="${#fields.hasErrors('issuedOn')}" th:errors="*{issuedOn}"
                       class="invalid-feedback">Validation error message</small>
              </div>
              <div class="col-12 col-sm-8 form-group">
                <label for="issuedAt">Country of issue</label>
                <select th:field="*{issuedAt}" class="form-control" th:errorclass="is-invalid"/>
                  <option th:each="country : ${countries}" th:value="${country}"
                          th:text="${country}" th:selected="${country == dto.issuedAt}">
                          Country</option>
                </select>
                <small th:if="${#fields.hasErrors('issuedAt')}" th:errors="*{issuedAt}"
                       class="invalid-feedback">Validation error message</small>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4 form-group">
                <label for="receivedOn">Received on</label>
                <input th:field="*{receivedOn}" type="text" class="form-control datepicker"
                       th:errorclass="is-invalid" placeholder="yyyy-mm-dd"/>
                <small th:if="${#fields.hasErrors('receivedOn')}" th:errors="*{receivedOn}"
                       class="invalid-feedback">Validation error message</small>
              </div>
              <div class="col-12 col-sm-6 col-md-4 form-group">
                <label for="purchaseAmount">Purchase amount</label>
                <input th:field="*{purchaseAmount}" type="text" class="form-control"
                       th:errorclass="is-invalid" placeholder="0.00"/>
                <small th:if="${#fields.hasErrors('purchaseAmount')}" th:errors="*{purchaseAmount}"
                       class="invalid-feedback">Validation error message</small>
              </div>
              <div class="col-12 col-sm-6 col-md-4 form-group">
                <label for="refundAmount">Refund amount</label>
                <input th:field="*{refundAmount}" type="text" class="form-control"
                       th:errorclass="is-invalid" placeholder="0.00"/>
                <small th:if="${#fields.hasErrors('refundAmount')}" th:errors="*{refundAmount}"
                       class="invalid-feedback">Validation error message</small>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4 form-group align-self-center">
                <div class="form-check">
                  <label class="form-check-label">
                    <input th:field="*{stamped}" type="checkbox" class="form-check-input"/>
                           Customs stamp
                  </label>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 form-group align-self-center">
                <div class="form-check">
                  <label class="form-check-label">
                    <input th:field="*{prepaid}" type="checkbox" class="form-check-input"/>
                           Prepaid
                  </label>
                </div>
              </div>
            </div>
          </section>

          <!-- Form buttons, links -->
          <section>
            <div class="row padded">
              <div class="col form-group">
                <input type="submit" class="button" id="submit" value="Submit"/>
                <input type="button" class="button" id="cancel" value="Cancel"
                       onClick="goBack();"/>
              </div>
            </div>
          </section>

          <!-- Hidden uneditable attributes -->
          <input th:field="*{id}" type="hidden"/>

        </form>
      </div>
    </section>

    <footer th:replace="fragments/footer :: footer">Footer</footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"
            integrity="sha256-TueWqYu0G+lYIimeIcMI8x1m14QH/DQVt4s9m/uuhPw="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0-beta/js/bootstrap-select.min.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
        var voucherId = /*[[${dto.id}]]*/ "new";
        var customers = /*[[${customers}]]*/ null;
    /*]]>*/
    </script>
    <script type="text/javascript" th:src="@{/js/voucher.js}"></script>
    <script type="text/javascript" th:src="@{/js/datepicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/disable-enter-key.js}"></script>
  </body>

</html>
